#root {
  margin: 0 auto;
  text-align: center;
  background-image: linear-gradient(
    to right,
    rgb(201, 201, 221),
    rgb(16, 82, 156)
  );
  min-width: 100vw;
  min-height: 100vh;
  max-width: 100vw;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.botao {
  background-color: rgb(116, 106, 204);
  width: 10vw;
  height: 8.5vh;
  margin-top: 1vh;
  font-size: medium;
  border-style: outset;
  border-width: 2px;
  border-color: rgb(225, 225, 241);
  font-weight: bold;
}

.botao:hover {
  cursor: pointer;
  transition: 0.1s;
  background-color: rgb(66, 56, 151);
  border-style: intset;
  border-color: rgb(58, 58, 145);
}

#forms {
  height: 11rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#meta > label {
  width: 39%;
}

#meta > div {
  width: 50%;
}

.escolha {
  display: flex;
  width: 40rem;
  height: 4.5rem;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 540;
}

input {
  border-radius: 8px;
  width: 17rem;
  background-color: rgb(110, 136, 153);
  text-align: unset;
}

label {
  display: flex;
  height: 95%;
  flex-direction: column;
  justify-content: space-evenly;
}

h3 {
  font-weight: bolder;
  font-size: xx-large;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  color: rgb(219, 203, 52);
  height: 1.5rem;
  text-shadow: -2px 2px rgb(58, 57, 47);
}

h1 {
  height: 2.5rem;
  color: rgb(255, 255, 255);
  text-shadow: 1px 1px rgb(27, 20, 20);
}

#status {
  display: flex;
  flex-direction: row;
  width: 40rem;
  justify-content: space-evenly;
  background-color: black;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  background-image: linear-gradient(to bottom right, #dde4ecdc 0%, #b5b3dbdc 100%);
  border-width: 1px 1px 0.5px 1px;
  border-style: outset;
  border-color: rgb(182, 181, 185);
  color: white;
  text-shadow: 1px 1px black;
}

#formsEHistorico {
  width: 55rem;
  height: 12rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(105, 81, 212);
  background-image: linear-gradient(
    to bottom right,
    rgb(172, 161, 218),
    rgb(105, 81, 212)
  );
  border: 30px, solid, rgb(56, 52, 52);
  color: rgb(41, 41, 41);
  padding: 1rem 0rem 1rem 0.2rem;
  border-radius: 30px;
  border-style: outset;
  border-color: rgb(185, 195, 206);
  border-width: 3px;
  margin-bottom: 1rem;
}

#botoesHistorico {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 10rem;
}

.menus {
  background-color: rgb(188, 200, 231);
  border: 30px, solid, rgb(56, 52, 52);
  color: rgb(41, 41, 41);
  padding: 0.3rem;
  border-radius: 20px;
  border-style: inset;
  border-color: rgb(62, 115, 165);
  border-width: 2px;
}

#listaDeHistoricos {
  min-height: 2rem;
  width: 38rem;
  color: black;
  background-color: rgb(197, 192, 223);
  line-height: 2rem;
  border-radius: 10px;
  border-width: 3px;
  border-color: rgb(56, 62, 78);
  border-style: double;
  box-shadow: inset;
  margin-bottom: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.historicoLinha {
  font-size: large;
  font-weight: 400;
  width: 100%;
  border-width: 1px 0 0 0;
  border-color: black;
  border-style: dashed;
  padding-top: 2rem;
}

h2 {
  height: 1rem;
  color: rgb(33, 34, 37);
  text-shadow: 2px 2px rgb(149, 155, 182);
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
